.btn {
    display: inline-block;
    font-weight: $font-weight-bold;
    text-align: center;
    padding: 2 * $base-spacer;
    user-select: none;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;

    &.btn-primary {
        background-color: $color-primary;
        color: $color-white;
        &:hover {
            background-color: $color-dark-primary;
        }
    }
}
