.form-label {
    display: inline-block;
    margin-bottom: $base-spacer;
}

.form-control {
    display: block;
    font-size: $base-font-size;
    width: 100%;
    padding: 6px 12px;
    appearance: none;
    background-color: transparent;
    border: 1px $color-black solid;
    &:focus {
        border-color: $color-black;
        outline: 0;
        box-shadow: 0 0 0 3px rgba($color-primary, 0.25);
    }
}

.form-check {
    cursor: pointer;
    display: flex;
    align-items: center;

    .form-check-input {
        flex: 0 0 20px;
        height: 20px;
        background-color: transparent;
        border: 2px solid $color-black;
        appearance: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 4px;
        &:checked {
            background-color: $color-light-primary;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 3px rgba($color-primary, 0.25);
        }
    }
    .form-check-label {
        display: inline-block;
        cursor: pointer;
    }
}
