.pagination {
    display: flex;
    .page-link {
        position: relative;
        display: block;
        padding: 11px 14px;
        margin-left: -1px;
        color: $color-dark-gray;
        background-color: #fff;
        border: 1px solid $color-dark-gray;
        &:hover {
            background: $color-black;
            color: $color-white;
        }
    }
}
