// global
h1 {
    color: $color-dark-primary;
    font-size: $font-size-h1;
    font-weight: $font-weight-black;
    @include media-breakpoint-up(sm) {
        font-size: map-get($font-sizes, md);
    }
    span {
        display: block;
        font-size: map-get($font-sizes, lg);
        font-weight: $font-weight-regular;
        @include media-breakpoint-up(sm) {
            font-size: map-get($font-sizes, base);
        }
    }
}

h2 {
    color: $color-dark-primary;
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
    text-align: center;
    @include media-breakpoint-up(sm) {
        font-size: map-get($font-sizes, md);
    }
}

h3 {
    color: $color-dark-primary;
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;
    text-align: center;
}

.l-inside-page {
    h2 {
        color: $color-black;
        text-align: left;
        margin-bottom: $base-spacer * 4;
        @include media-breakpoint-up(sm) {
            margin-top: $base-spacer * 5;
        }
        &::before {
            content: '';
            margin-right: $base-spacer;
            border-right: 8px $color-primary solid;
        }
    }
}

//header
nav {
    color: $color-white;
    @include media-breakpoint-up(sm) {
        min-height: 80px;
    }
    .logo {
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 80px;
        height: 48px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        a {
            display: block;
            padding: 25px 0;
            color: $color-white;
            &:hover {
                background-color: darken($color: $color-primary, $amount: 5%);
            }
        }
    }
}

nav.sub-nav {
    @include media-breakpoint-up(sm) {
        min-height: $base-spacer * 6;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    @include media-breakpoint-up(md) {
        margin-bottom: 80px;
    }
    li:not(:last-child) {
        margin-right: $base-spacer * 6;
        @include media-breakpoint-up(md) {
            margin-right: 25px;
        }
    }
    li a {
        padding: 12px 0;
        &:hover {
            color: lighten($color: $color-primary, $amount: 50%);
            background-color: initial;
        }
    }
}

#menuBtn {
    font-size: 40px;
    font-weight: 900;
}

#mobileMenu {
    li {
        border: 1px $color-white solid;
        a {
            padding: 12px 0;
            color: $color-white;
            display: block;
            text-align: center;
        }
    }
}

// footer
footer {
    a {
        color: $color-white;
    }
}
