@mixin d-flex($horizon: center, $align: center) {
  display: flex;
  justify-content: $horizon;
  align-items: $align;
}

@mixin media-breakpoint-up($size) {
  @media only screen and (max-width: map-get($device-breakpoints, $size)) {
      @content;
  }
}