main {
    .banner {
        background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png');
        background-position: center;
        background-size: cover;
        height: 787px;
        text-align: right;
        @include media-breakpoint-up(md) {
            background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png');

            height: 787;
        }
        @include media-breakpoint-up(sm) {
            height: 396px;
        }
        button {
            background-color: $color-primary;
            padding: 6px 12px;
            color: $color-white;
            font-size: map-get($font-sizes, sm);
            border: 0;
        }
    }
}

.b-classic {
    @include media-breakpoint-up(md) {
        img {
            max-width: 336px;
        }
    }
}

.b-co-branding {
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png');
}
