.mx-auto {
    margin: 0 auto !important;
}
.mt-auto {
    margin-top: auto !important;
}
@for $i from 0 through 10 {
    .mx-#{$i} {
        margin-right: $base-spacer * $i !important;
        margin-left : $base-spacer * $i !important;
    }
    .my-#{$i} {
        margin-top   : $base-spacer * $i !important;
        margin-bottom: $base-spacer * $i !important;
    }
    .px-#{$i} {
        padding-right: $base-spacer * $i !important;
        padding-left : $base-spacer * $i !important;
    }
    .py-#{$i} {
        padding-top   : $base-spacer * $i !important;
        padding-bottom: $base-spacer * $i !important;
    }
}

@for $i from 0 through 10 {
    .mx-md-#{$i} {
        @include media-breakpoint-up(md) {
            margin-right: $base-spacer * $i !important;
            margin-left : $base-spacer * $i !important;
        }
    }

    .mx-sm-#{$i} {
        @include media-breakpoint-up(sm) {
            margin-right: $base-spacer * $i !important;
            margin-left : $base-spacer * $i !important;
        }
    }

    .my-md-#{$i} {
        @include media-breakpoint-up(md) {
            margin-top   : $base-spacer * $i !important;
            margin-bottom: $base-spacer * $i !important;
        }
    }

    .my-sm-#{$i} {
        @include media-breakpoint-up(sm) {
            margin-top   : $base-spacer * $i !important;
            margin-bottom: $base-spacer * $i !important;
        }
    }

    .px-md-#{$i} {
        @include media-breakpoint-up(md) {
            padding-right: $base-spacer * $i !important;
            padding-left : $base-spacer * $i !important;
        }
    }
    .px-sm-#{$i} {
        @include media-breakpoint-up(sm) {
            padding-right: $base-spacer * $i !important;
            padding-left : $base-spacer * $i !important;
        }
    }

    .py-md-#{$i} {
        @include media-breakpoint-up(md) {
            padding-top   : $base-spacer * $i !important;
            padding-bottom: $base-spacer * $i !important;
        }
    }

    .py-sm-#{$i} {
        @include media-breakpoint-up(sm) {
            padding-top   : $base-spacer * $i !important;
            padding-bottom: $base-spacer * $i !important;
        }
    }
}

@mixin utility-spacer($property, $position, $space) {
    // 產生 mt-N
    .#{map-get($properties,$property)}#{map-get($positions,$position)}-#{$space} {
        #{$property}-#{$position}: $base-spacer * $space;
    }

    // 產生 mt-md-N
    .#{map-get($properties,$property)}#{map-get($positions,$position)}-md-#{$space} {
        @include media-breakpoint-up(md) {
            #{$property}-#{$position}: $base-spacer * $space !important;
        }
    }

    // 產生 mt-sm-N
    .#{map-get($properties,$property)}#{map-get($positions,$position)}-sm-#{$space} {
        @include media-breakpoint-up(sm) {
            #{$property}-#{$position}: $base-spacer * $space !important;
        }
    }
}

@for $i from 0 through 10 {
    // Margin
    @include utility-spacer(margin, top, $i);
    @include utility-spacer(margin, right, $i);
    @include utility-spacer(margin, bottom, $i);
    @include utility-spacer(margin, left, $i);

    // Padding
    @include utility-spacer(padding, top, $i);
    @include utility-spacer(padding, right, $i);
    @include utility-spacer(padding, bottom, $i);
    @include utility-spacer(padding, left, $i);
}
