//color
$color-primary      : #aa0601 !default;
$color-dark-primary : #650300 !default;
$color-light-primary: #fbf2f2 !default;
$color-black        : #000000 !default;
$color-white        : #ffffff !default;
$color-gray         : #707070 !default;
$color-dark-gray    : #555555 !default;

// 字體相關
$font-weight-regular: 500;
$font-weight-bold   : 700;
$font-weight-black  : 900;

$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 24px;

$base-font-size: 16px;

$font-sizes: (
    base: $base-font-size,        // 16px
    xs: $base-font-size * 0.875,  // 14px
    sm: $base-font-size * 1.25,   // 20px
    md: $base-font-size * 1.5,    // 24px
    lg: $base-font-size * 2.25,   // 36px
);

// icon size
$icon-sizes: (
    xxl: 100px,              //100px
    md : $base-spacer * 6,   //48px
    sm : $base-spacer * 5,   //40px
    xs : $base-spacer * 3,   //24px
);

// 格線系統
$base-gutter: 24px;
$base-spacer: 8px;

$properties: (
    padding: p,
    margin : m,
);

$positions: (
    top   : t,
    bottom: b,
    right : r,
    left  : l,
);

$container-max-widths: (
    lg: 1320px,
    md: 720px,
    sm: 372px,
);

$device-breakpoints: (
    sm: 767px,
    md: 992px,
    lg: 1200px,
);

$display-properties: (
    flex        : flex,
    block       : block,
    inline-block: inline-block,
    inline      : inline,
    none        : none,
);

$flex-wrap-properties: (
    nowrap: nowrap,
    wrap  : wrap,
);

$direction-properties: (
    row           : row,
    column        : column,
    row-reverse   : row-reverse,
    column-reverse: column-reverse,
);
$align-items-properties: (
    center  : center,
    end     : end,
    baseline: baseline,
);

$justify-content-properties: (
    between: space-between,
    evenly : space-evenly,
    center : center,
    end    : end,
);
$align-items-properties: (
    center: center,
    end   : end,
    start : flex-start,
);

$media-sizes: (sm, md, lg);
